/* Containers */

.option-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(113, 113, 198, 0.5);
    background-color: #f3f6fa;
}

.option-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(113, 113, 198, 0.5);
    transform: translateY(-0.5rem);
    transition: transform 150ms;
}

.option-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #7171C6;
    color: #f3f6fa;
}

.option-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: #5ce67c;
}

.incorrect {
    background-color: #e03849;
}

/* HUD */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-txt {
    text-align: center;
}

/* PROGRESS BAR */

#prog-bar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #7171C6;
    margin-top: 1.5rem;
}

#prog-bar-full {
    background-color: #7171C6;
    height: 3.4rem;
    width: 0%;
}

/* LOADER */

#loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #7171C6;
    width: 12rem;
    height: 12rem;
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}