/* Containers */

.option-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(113, 113, 198, 0.5);
    background-color: #f3f6fa;
}

.option-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(113, 113, 198, 0.5);
    transform: translateY(-0.5rem);
    transition: transform 150ms;
}

.option-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #7171C6;
    color: #f3f6fa;
}

.option-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: #5ce67c;
}

.incorrect {
    background-color: #e03849;
}