/* Custom properties/Variable */

:root {
background-color: #f3f6fa;
font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(44, 42, 42);
}

/* H-tag styling */

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.4rem;
    color: #7171C6;
    margin-bottom: 5rem;
}

h1 > span {
    font-size: .4rem;
    font-weight: 500;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;

}

/* Wrapper */

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.wrapper > * {
    width: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-cent {
    justify-content: center;
    align-items: center;
}

.justify-cent {
    justify-content: center;
}

.text-cent {
    text-align: center;
}

.hidden {
    display: none;
}

/* Buttons */

.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #7171C6;
    border-radius: 10px;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #7171C6;
    background-color: #f3f6fa;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(113, 113, 198, 0.5);
    transform: translateY(-0.5rem);
    transition: transform 170ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* FORMS */

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(113, 113, 198, 0.5);
    border-radius: 10px;
}

input::placeholder {
    color: #aaa;
}

audio {
    margin-top: 17rem;
}

#play {
    color: #7171C6;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 10rem;
    border-top: 0.5px solid #7171C6;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    flex-wrap: wrap;
}
    
.contact-details {
    font-size: 1rem;
    
}
    
.contact-details:hover {
    transform: translateY(5px);
    transition: transform 0.3s ease-out;
}

.bat {
    font-size: 1.5rem;
    padding: 0rem 0;
    width: 15rem;
    text-align: center;
    text-decoration: none;
    color: #7171C6;
    background-color: #f3f6fa;
}

.last {
    font-size: 1.3rem;
    font-family: Lucida Handwriting;
    margin-top: 3rem;
    display: inline-flex;
    padding: 1.5rem;
}

#first {
    font-size: 1.3rem;
    font-family: Lucida Handwriting;
    margin-bottom: 2rem;
}